@font-face {
    font-family: AvenirMedium;
    src: url('../../assets/fonts/AvenirNextCyr-Medium.ttf');
}

@font-face {
    font-family: AvenirBold;
    src: url('../../assets/fonts/AvenirNextCyr-Bold.ttf');
}

@font-face {
    font-family: AvenirThin;
    src: url('../../assets/fonts/AvenirNextCyr-Thin.ttf');
}

@font-face {
    font-family: AvenirLight;
    src: url('../../assets/fonts/AvenirNextCyr-Light.ttf');
}