@import './utils/fonts.scss';
@import './utils/mixin.scss';
@import './utils/animations.scss';
body,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: AvenirBold;
    font-smooth: auto;
}

.container {
    @include size(100%, 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    h1 {
        width: 100%;
        text-align: center;
        font-size: 30pt;
    }
    img {
        @include size(180px, 400px);
        animation: rotate 3s infinite ease;
    }
    p {
        width: 100%;
        text-align: center;
        font-size: 20pt;
    }
}